{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container text-center login-container">
    <div id="booking-bg" class="row center">
        <div class="col-md-8 mt-3 offset-m-2 login-form">
            {% if user.is_authenticated %}
            <div id="deleteModal" class="modal-delete">

                <div id="delete-confirmation" class="modal-info">
                    <span id="close-modal" class="close-modal">&times;</span>
                    <h3>
                        Are you sure you want to <strong>delete</strong> this booking?
                    </h2>
                    <p id="modal-p">
                        
                    </p>
                    <button id="keep-btn" class="keep-btn" name="keep"></a>No! Keep my Booking</button>
                    <button class="delete-btn btn-red" name="delete"><a id="delete-id" href="#">Delete</a></button>
                </div>

            </div>
            <h1>Your Reservations</h1>
            <table class="reservation-table">
                <thead>
                    <tr>
                        <th>Ref#</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Guests</th>
                        <th>Edit</th>
                        <th>Cancel</th>
                    </tr>
                </thead>
                <tbody>
                    {% for booking in bookings %}
                    <tr>
                        <td id="id{{ booking.id }}">{{ booking.id }}</td>
                        <td class="active-row" id="name{{ booking.id }}">{{ booking.name }}</td>
                        <td id="date{{ booking.id }}">{{ booking.date }}</td>
                        <td class="active-row" id="time{{ booking.id }}">{{ booking.time }}</td>
                        <td id="guests{{ booking.id }}">{{ booking.table_for }}</td>
                        <td class="active-row"><a href="{% url 'update_booking' booking_id=booking.id %}"><i class="fa-solid fa-pen-to-square"></i></a></td>
                        <td><button id="{{ booking.id }}" class="delete-btn open-modal" name="delete"><i class="fa-solid fa-trash"></i></button></td>

                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">You currently have no reservations</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button id="create-btn"><a href="{% url 'create_booking' %}">Make a Reservation</a></button>

            {% else %}
            <h1>Please Login / Register to book a table</h1>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}