{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container text-center login-container">
    <div class="row center">
        <div class="col-md-8 mt-3 offset-m-2 login-form">
            {{ all_bookings }}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if user.is_authenticated %}
            <div id="deleteModal" class="modal-delete">

                <div id="delete-confirmation{{ booking.id }}" class="modal-info">
                    <span class="close-modal">&times;</span>
                    <h3>
                        Are you sure you want to <strong>delete</strong> this booking?
                    </h2>
                    <p>
                        Your booking for {{ booking.name }} at {{ booking.time }} on {{ booking.date }}, seating {{ booking.table_for }} will be cancelled.
                    </p>
                    <button class="keep-btn" name="keep"><a href=""></a>No! Keep my Booking</button>
                    <button class="delete-btn btn-red" name="delete"><a href="{% url 'delete_booking' booking_id=booking.id %}">Delete</a></button>
                </div>

            </div>
            <h1>Your Reservations</h1>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for booking in bookings %}
                    <tr>
                        <td>{{ booking.id }}</td>
                        <td>{{ booking.name }}</td>
                        <td>{{ booking.date }}</td>
                        <td>{{ booking.time }}</td>
                        <td><button name="update"><a href="{% url 'update_booking' booking_id=booking.id %}">Edit</a></button></td>
                        <td><button id="deleteButton" class="delete-btn" name="delete">Delete</button></td>
                    </tr>
                    <div id="deleteModal" class="modal-delete">

                        <div id="delete-confirmation{{ booking.id }}" class="modal-info">
                            <span class="close-modal">&times;</span>
                            <h3>
                                Are you sure you want to <strong>delete</strong> this booking?
                            </h2>
                            <p>
                                Your booking for {{ booking.name }} at {{ booking.time }} on {{ booking.date }}, seating {{ booking.table_for }} will be cancelled.
                            </p>
                            <button class="keep-btn" name="keep"><a href=""></a>No! Keep my Booking</button>
                            <button class="delete-btn btn-red" name="delete"><a href="{% url 'delete_booking' booking_id=booking.id %}">Delete</a></button>
                        </div>
        
                    </div>
                    {% empty %}
                    <tr>
                        <td colspan="3">You currently have no reservations</td>
                    </tr>
                    <!-- <button><a href="create_booking.html">Make a Reservation</a></button> -->
                    {% endfor %}
                </tbody>
            </table>
            <button><a href="{% url 'create_booking' %}">Make a Reservation</a></button>

            {% else %}
            <h1>Please Login / Register to book a table</h1>
            {% endif %}
            <!-- <h3>Book a Table:</h3>
  <p>Table for: {{ user.username },}</p>
  <form method="POST" style="margin-top: 1.3em;">
      {{ booking_form | crispy },}
      {% csrf_token %,}
      <button type="submit" class="btn btn-signup btn-lg">Create Booking</button>
  </form> -->
        </div>
    </div>
</div>
{% endblock %}