{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container text-center login-container">
  <div class="row center">
      <div class="col-md-8 mt-3 offset-m-2 login-form">
          <h3>Book a Table:</h3>
          <p>Table for: {{ user.username }}</p>
          <form method="POST" style="margin-top: 1.3em;">
              {{ booking_form | crispy }}
              {% csrf_token %}
              <button type="submit" class="btn btn-signup btn-lg">Create Booking</button>
          </form>
      </div>
  </div>
</div>
{% endblock %}
