{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid hero text-center">
    <div class="row" id="mm">
        <div class="col-md-0 text-center">
            <h2>Welcome to Taste of India</h2>
        </div>
    </div>
    <div class="row rowheight">
        <div class="col-md-4 text-center home-card">
            <h3>Check out our Menu</h3>
            <p>Full of flavor and choice, our menu contains the most popular, tasty and authentic Indian dishes
                <a class="btn-home-cards" href="{% static 'assets/pdf/taste-of-india-menu.pdf' %}">Menu</a>
            </p>
        </div>
        <div class="col-md-4 text-center home-card">
                <h3>Check out our Meal blog</h3>
                <p>Have your say with the Meal blog. Leave your review and drop a like on the meals you enjoy the most.
                    <a class="btn-home-cards" href="{% url 'meal' %}">Meals</a>
                </p>
        </div>
        <div class="col-md-4 text-center home-card">
            <h3>Find out about us</h3>
            <p>More information about Taste of India's background, our opening times, location and contact details
                <a class="btn-home-cards" href="{% url 'about' %}">About Us</a>
            </p>
        </div>
    </div>
</div>

{%endblock%}