{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
<div class="hero">
    <h2>Welcome to Taste of India</h2>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Check out our Menu</h3>
        <p>Full of flavor and choice, our menu contains the most popular, tasty and authentic Indian dishes</p>
        <img src="" alt="">
    </div>
    <div class="col-md-4">
        <h3>Check out our Meal blog</h3>
        <p>Have your say with the Meal blog. Leave your review and drop a like on the meals you enjoy the most.</p>
        <img src="" alt="">
    </div>
    <div class="col-md-4">
        <h3>Find out about us</h3>
        <p>More information about Taste of India's background, our opening times, location and contact details</p>
        <img src="" alt="">
    </div>
</div>
</div>

{%endblock%}